{{#> ../layout title='Knockout.js app'}}

  <h1 class="page-header">Index page</h1>

  <div class="form-horizontal">
    <div class="row form-group">
      <div class="col-sm-4">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          <p class="form-control-static">John Doe</p>
        </div>
      </div>

      <div class="col-sm-4">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <p class="form-control-static">email@example.com</p>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
  </ul>

  <p class="text-right" style="margin-top: 10px">
    <span class="btn-group">
      <label class="btn btn-default" data-bind="css: { active: withSupports }">
        <input type="checkbox" autocomplete="off" data-bind="checked: withSupports" style="display: none"> With supports
      </label>
      <label class="btn btn-default" data-bind="css: { active: withErrors }">
        <input type="checkbox" autocomplete="off" data-bind="checked: withErrors" style="display: none"> With errors
      </label>
    </span>
  </p>

  <div data-bind="foreach: panels">
    <div class="panel panel-default" data-bind="visible: !$root.filterOut($data), css: { 'panel-primary': isPrimary, 'panel-info': isSecondary }">
      <div class="panel-heading">
        <h3 class="panel-title">Panel (<span data-bind="text: id"></span>)</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Telephone</th>
              <th>Email</th>
            </tr>
          </thead>

          <thead>
            <tr>
              <td data-bind="text: name"></td>
              <td data-bind="text: gender"></td>
              <td data-bind="text: telephone"></td>
              <td data-bind="text: email"></td>
            </tr>
          </thead>
        </table>

        <ul class="list-group col-sm-10" data-bind="foreach: supports">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6">
                <h5 style="font-weight: bold; margin-top: 0" data-bind="text: title"></h5>
                <p data-bind="text: content"></p>
              </div>

              <div class="col-sm-6">
                <dl class="dl-horizontal" style="margin-left: -60px">
                  <dt>Taken over by</dt>
                  <dd data-bind="text: by"></dd>

                  <dt>xxx</dt>
                  <dd data-bind="text: xxx"></dd>
                </dl>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {{/../layout}}
